*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/checkstyle-idea.xml
/.idea/gradle.xml
/.idea*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
nightsport
/sdk_lib/build
# 忽略.class的所有文件
*.class
